@charset "utf-8";
/**
* Description:directory style 
* Developers:xuchen
**/

/*directoryHead
-------------------------------------------------------------- */

#directoryHead {
	position:fixed; left:0; top:48px; z-index:20;
	width:100%; height:50px;
	background:#d0d3d8;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#dcdde2), to(#c2c7cd));
	background:-moz-linear-gradient(top, #dcdde2, #c2c7cd);
	border-bottom:1px solid #858c96;
	box-shadow:0 1px 1px #e5e6ea inset, 0 1px 1px #c9cdd0;
}
#directoryHead #directorySearchFrame {
	width:238px; height:40px;
	padding:5px 0;
}

/*  directory Search  */
#directoryHead #directorySearchFrame .SearchBox {
	width:178px; height:26px;
	margin:7px 0 0 8px;
	background:#fff;
	border:1px solid #a9b0b7;
	box-shadow:1px 1px 1px #cbd1d7 inset, -1px 1px 1px #dadde1;
	border-radius:13px;
}
#directoryHead #directorySearchFrame .SearchBox .SearchText {
	width:133px; height:20px;
	margin:3px 0 0 10px;
	background:transparent;
	font:400 12px/18px Arial, Helvetica, sans-serif;
	border:none;
}
#directoryHead #directorySearchFrame .SearchBox .SearchBtn {
	width:26px; height:26px;
	margin-right:5px;
	background:url(../images/messageIconBg.png) no-repeat -4px -26px;
	border:none;
}
#directoryHead #directoryNumber {
	width:100px; height:48px;
	padding:2px 20px 0 0;
	text-align:right; text-shadow:1px 1px 1px #eee;
	font:700 14px/48px Arial, Helvetica, sans-serif; color:#666;
}
/*directoryMain
-------------------------------------------------------------- */

#directoryMain {
	margin-top:98px;
	width:100%;
	overflow:auto;
}
#directoryMain .directoryTitle {
	width:100%;	height:30px;
	background:#e1e7eb;
	border-top:1px solid #b3bac4; border-bottom:1px solid #bfc5ce;
	box-shadow:0 1px 1px #d3d9de;
}
#directoryMain .directoryTitle h3 {
	width:100px; height:30px;
	text-indent:15px; text-shadow:1px 1px 1px #eee;
	font:700 14px/30px Arial, Helvetica, sans-serif; color:#666;
}
#directoryMain .directoryTitle p {
	width:100px; height:28px;
	padding:2px 20px 0 0;
	text-align:right; text-shadow:1px 1px 1px #eee;
	font:400 12px/28px Arial, Helvetica, sans-serif; color:#999;
}
#directoryMain .directoryList {
}
#directoryMain .directoryList li {
	float:left; display:inline-block;
	width:280px; height:100px;
	padding:5px; margin:10px 5px;
	cursor:pointer;
}
#directoryMain .directoryList li:hover,#directoryMain .directoryList li.selected {
	background:#c4c7cc;
	border-radius:5px;
}
#directoryMain .directoryList li .userPhoto {
	width:100px; height:100px;
	border-radius:5px;
}
#directoryMain .directoryList li aside {
	width:170px; height:100px;
}
#directoryMain .directoryList li aside h6.userName {
	width:170px; height:20px;
	text-shadow:1px 1px 1px #eee;
	font:700 14px/20px Arial, Helvetica, sans-serif; color:#666;
}
#directoryMain .directoryList li aside h6.userName a {
	color:#666;
}
#directoryMain .directoryList li aside p.userPosition {
	width:170px; height:18px;
	padding-top:2px;
	background:url(../images/directoryIcon.png) no-repeat -122px top;
	text-indent:25px; text-shadow:1px 1px 1px #eee;
	font:400 12px/18px Arial, Helvetica, sans-serif; color:#666;
}
#directoryMain .directoryList li aside p.userRemark {
	width:170px;
	text-shadow:1px 1px 1px #eee;
	font:400 12px/20px Arial, Helvetica, sans-serif; color:#999;
}






