@charset "utf-8";
/**
* Description:home style 
* Developers:xuchen
**/
body { background:url(../images/homeBg.png) repeat;}
.commonHeader {
	width:100%;
	height: 48px;
	background:none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
}
.commonHeader .nav {
	display:none;
	width:280px;
	height: 48px;
	background:url(../images/CommonIcon.png) no-repeat -68px 0;
}

/* home
-------------------------------------------------------------- */

#homeIcon {
	position:fixed;
	width:740px;
	padding:0 50px;
}
#homeIcon li {
	float:left; display:inline-block;
	width:135px; height:150px;
	margin:0 25px 35px;
	overflow:hidden;
}
#homeIcon li a {
	display:block;
	width:135px; height:150px;
	background:url(../images/homeIcon.png) no-repeat;
	text-indent:-999px;
}
#homeIcon li a.contacts {
	background-position:0 0;
}
#homeIcon li a.stream {
	background-position:0 -150px;
}
#homeIcon li a.files {
	background-position:0 -300px;
}
#homeIcon li a.messages {
	background-position:0 -450px;
}
#homeIcon li a.saleStorce {
	background-position:0 -600px;
}
#homeIcon li a.sfExpress {
	background-position:0 -750px;
}
#homeIcon li a.wsg {
	background-position:0 -900px;
}
#homeIcon li a.gikoo {
	background-position:0 -1050px;
}
/*  icon disabled  */
#homeIcon li a.contactsDisabled {
	background-position:0 0;
}
#homeIcon li a.streamDisabled {
	background-position:-135px -150px;
}
#homeIcon li a.filesDisabled {
	background-position:-135px -300px;
}
#homeIcon li a.messagesDisabled {
	background-position:-135px -450px;
}
#homeIcon li a.saleStorceDisabled {
	background-position:-135px -600px;
}
#homeIcon li a.sfExpressDisabled {
	background-position:-135px -750px;
}
#homeIcon li a.wsgDisabled {
	background-position:-135px -900px;
}

/* login
-------------------------------------------------------------- */

#loginMain {
	position:fixed; top:200px;
	width:350px;
	padding-bottom:15px;
	background:#f2f4f6;
	border-radius:4px;
	box-shadow:0px -1px 1px #fcfcfc inset, 0px 1px 10px #a8a9ac;
}
#loginMain header {
	width:344px; height:45px;
	background:url(../images/loginIcon.png) repeat-x 0 43px;
	text-align:center; text-shadow:1px 1px 1px #fff;
	font:700 16px/45px Arial, Helvetica, sans-serif; color:#6e747f;
}
#loginMain .loginText {
	position:relative;
	width:230px; height:20px;
	padding:8px 0 8px 40px; margin-top:22px;
	border-top:1px solid #c5c7cc; border-bottom:1px solid #fff; border-radius:4px;
	box-shadow:0 1px 3px #d0d3d7 inset;
}
#loginMain .userName {
	background: url(../images/loginIcon.png) no-repeat -97px -4px #dcdee2;
}
#loginMain .userPassword {
	background: url(../images/loginIcon.png) no-repeat -97px -44px #dcdee2;
}
#loginMain .loginText input {
	width:190px; height:20px;
	background:transparent;
	font:400 14px/20px Arial, Helvetica, sans-serif; color:#848485;
	border:none;
}
#loginMain .userName input {
	width:220px;
}
#loginMain .loginText input.loginBtn {
	position:absolute; right:3px; top:0;
	width:36px; height:36px;
	background:url(../images/loginIcon.png) no-repeat -95px -84px;
	border:none;
	cursor:pointer;
}
#loginMain .forget {
	width:270px; height:20px;
	margin-top:10px;
	text-align:right; text-shadow:1px 1px 1px #fff;
	font:700 14px/20px Arial, Helvetica, sans-serif; color:#bfc2c5;
}
#loginMain .forget a {
	text-decoration:none;
	color:#bfc2c5;
}

/* forgot password
-------------------------------------------------------------- */

#loginMain .userMail {
	background: url(../images/loginIcon.png) no-repeat -97px -122px #dcdee2;
}
#loginMain .sendrMail {
	width:68px; height:31px;
	margin:15px 0 0 242px;
	background: url(../images/loginIcon.png) no-repeat -25px -11px;
	border:none;
	cursor:pointer;
}
#loginMain .signUp {
	width:93px; height:31px;
	margin:15px 0 0 217px;
	background: url(../images/loginIcon.png) no-repeat 0 -51px;
	border:none;
	cursor:pointer;
}


