@charset "utf-8";
/**
* Description:IM style 
* Developers:xuchen
**/
/*	imFix
-------------------------------------------------------------- */

#imFix {
	position:fixed; bottom:0; right:5px;
	width:175px; height:40px;
	background:#f9f9f9;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
	background:-moz-linear-gradient(top, #fff, #f2f2f2);
	text-align:center;
	font:400 14px/40px Arial, Helvetica, sans-serif; color:#8c8c8c;
	border-radius:4px 4px 0 0;
	cursor:pointer;
}

/*	imUserList
-------------------------------------------------------------- */

#imUserList {
	position:fixed; bottom:0; right:5px; display:none;
	width:175px;
	border:1px solid #a6adb7; border-radius:4px 4px 0 0;
}
#imUserList header {
	width:175px;	height:29px;
	margin-bottom:1px;
	background:#d1d4d9a;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#dddfe4), to(#c3c7cd));
	background:-moz-linear-gradient(top, #dddfe4, #c3c7cd);
	border-bottom:1px solid #a6adb7; border-radius:4px 4px 0 0;
	box-shadow:0 1px 1px #e6e7eb inset, 0 1px 1px #dee4e8;
}
#imUserList header h6 {
	width:150px;	height:29px;
	text-indent:15px; text-shadow:1px 1px 1px #eee;
	font:700 12px/29px Arial, Helvetica, sans-serif; color:#000;
}
#imUserList header span {
	width:15px;	height:22px;
	font:700 10px/22px Arial, Helvetica, sans-serif; color:#666;
	cursor:pointer;
}
#imUserList section.userList {
	width:100%; height:400px;
	background:#eef2f5;
	overflow-y:scroll;
}
#imUserList section.userList ul {
	width:100%;
	padding:2px 0;
}
#imUserList section.userList ul li {
	width:100%; height:24px;
	padding:2px 0;
	cursor:pointer;
}
#imUserList section.userList ul li:hover,#imUserList section.userList ul li.selected {
	background:#dbe0e6;
}
#imUserList section.userList ul li .userPhoto {
	width:24px; height:24px;
	margin-left:20px;
	border-radius:2px;
}
#imUserList section.userList ul li .userName {
	height:24px;
	text-indent:10px;
	font:400 12px/24px Arial, Helvetica, sans-serif; color:#666;
}
#imUserList section.userList ul li:hover .userName,#imUserList section.userList ul li.selected .userName {
	color:#838586;
}
#imUserList section.userSearch {
	width:175px;	height:28px;
	padding:6px 0;
	background:#e2e8ec;
	border-top:1px solid #a6adb7;
}
#imUserList section.userSearch div {
	width:145px;	height:22px;
	padding:2px 5px;
	background:#f6f8fa;
	border:1px solid #a1a8af; border-radius:22px;
}
#imUserList section.userSearch div .searchText {
	width:120px;	height:18px;
	margin-top:2px;
	background:transparent;
	font:400 12px/18px Arial, Helvetica, sans-serif;
	border:none;
}
#imUserList section.userSearch div .searchBtn {
	width:20px; height:20px;
	background:url(../images/imSearchIcon.png) no-repeat center;
	border:none;
}

/*	imMessageBox
-------------------------------------------------------------- */

#imTurnLeft,#imTurnRight {
	position:fixed; bottom:0; display:none;
	width:28px; height:38px;
	background:url(../images/imTurnBg.png) no-repeat bottom #f4f4f4;
	background:url(../images/imTurnBg.png) no-repeat bottom, -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f1f1f1));
	background:url(../images/imTurnBg.png) no-repeat bottom, -moz-linear-gradient(top, #f4f4f4, #f1f1f1);
	border:1px solid #d9d9d9; border-radius:4px;
	cursor:pointer;
}
#imTurnRight {
	background:url(../images/imTurnBg.png) no-repeat top #f4f4f4;
	background:url(../images/imTurnBg.png) no-repeat top, -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f1f1f1));
	background:url(../images/imTurnBg.png) no-repeat top, -moz-linear-gradient(top, #f4f4f4, #f1f1f1);
}

#imMessageBox {
	position:fixed; bottom:0;
	height:30px;
	overflow:hidden;
}
#imMessageList {
	position:absolute; top:0; right:0;
}
.imMessageBlock {
	position:relative; z-index:10;
	width:260px;
	margin-left:5px;
	background:#fff;
	border:1px solid #a6adb7; border-bottom:none; border-radius:4px 4px 0 0;
	box-shadow:0 0 1px #8b8ab9;
}
.imMessageBlock header {
	width:260px; height:29px;
	margin-bottom:1px;
	background:#d1d4d9a;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#dddfe4), to(#c3c7cd));
	background:-moz-linear-gradient(top, #dddfe4, #c3c7cd);
	border-bottom:1px solid #a6adb7; border-radius:4px 4px 0 0;
	box-shadow:0 1px 1px #e6e7eb inset, 0 1px 1px #dee4e8;
	cursor:pointer;
}
.imMessageBlock header h6 {
	width:240px; height:29px;
	text-indent:8px; text-shadow:1px 1px 1px #eee;
	font:700 10px/29px Arial, Helvetica, sans-serif; color:#000;
}
.imMessageBlock header span {
	width:16px; height:29px;
	font:700 12px/29px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#000;
	cursor:pointer;
}
.imMessageBlock header.imMessageHeadTips {
	background:#187fbb;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#29a7f0), to(#045481));
	background:-moz-linear-gradient(top, #29a7f0, #045481);
}
.imMessageBlock .scaleBlock {
	display:none;
}
.imMessageBlock .operationsList {
	width:260px; height:28px;
	padding-bottom:1px;
	background:#e2e8ec;
	border-bottom:1px solid #a6adb7;
}
.imMessageBlock .operationsList li {
	float:left; display:inline-block;
	width:35px; height:28px;
	margin-left:5px;
}
.imMessageBlock .operationsList li a {
	display:block;
	width:35px; height:28px;
}
.imMessageBlock .operationsList li a.AddPeople {
	background:url(../images/imIconBg.png) no-repeat 0 0;
}
.imMessageBlock .operationsList li a.AddPeople:hover {
	background:url(../images/imIconBg.png) no-repeat 0 0 #d5dbe0;
}
.imMessageBlock .operationsList li a.ShowMessage {
	background:url(../images/imIconBg.png) no-repeat 0 -28px;
}
.imMessageBlock .operationsList li a.ShowMessage:hover {
	background:url(../images/imIconBg.png) no-repeat 0 -28px  #d5dbe0;
}
.imMessageBlock .operationsList li a.ExitIM {
	background:url(../images/imIconBg.png) no-repeat 0 -56px;
}
.imMessageBlock .operationsList li a.ExitIM:hover {
	background:url(../images/imIconBg.png) no-repeat 0 -56px  #d5dbe0;
}
.imMessageBlock .addPeopleBlock {
	width:250px;
	padding:2px 5px;
	background:#eef2f5;
	border-bottom:1px solid #a6adb7;
}
.imMessageBlock .addPeopleBlock .addPeopleShow {
	width:208px;
	background:#fff;
	font:400 12px/20px Arial, Helvetica, sans-serif;
	border:1px solid #e1e1e1; border-radius:4px;
}
.imMessageBlock .addPeopleBlock .addPeopleShow li {
	float:left; margin:2px 0 2px 2px; display:inline;
}
.imMessageBlock .addPeopleBlock .addPeopleShow li.name {
	height:18px;
	background:#eee;
	border:1px solid #e1e1e1; border-radius:4px;
}
.imMessageBlock .addPeopleBlock .addPeopleShow li.name p {
	height:18px;
	font:400 12px/18px Arial, Helvetica, sans-serif;
}
.imMessageBlock .addPeopleBlock .addPeopleShow li.name  a.deleteName {
	width:18px; height:18px;
	background:url(../images/cancel.png) no-repeat center;
}
.imMessageBlock .addPeopleText {
	height:18px;
	background:#fff;
	font:400 12px/18px Arial, Helvetica, sans-serif;
	border:none;
}
.imMessageBlock .addPeopleBtn {
	width:35px; height:22px;
	background:#fff;
	text-align:center;
	font:400 12px/22px Arial, Helvetica, sans-serif;
	border:1px solid #e1e1e1; border-radius:4px;
}

.imMessageBlock .addPeopleBlock .completionUserList {
	position:absolute; top:23px; left:0; display:none;
	width:228px;
	padding:5px 5px 2px;
	background:#fff;
	border:1px solid #e1e1e1; border-top:none;
}

.imMessageBlock .addPeopleBlock .completionUserList li {
	width:100%; height:36px;
	padding:2px 0;
	cursor:pointer;
}
.imMessageBlock .addPeopleBlock .completionUserList li:hover,.imMessageBlock .addPeopleBlock .completionUserList li.selected {
	background:#187fbb;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#29a7f0), to(#045481));
	background:-moz-linear-gradient(top, #29a7f0, #045481);
}
.imMessageBlock .addPeopleBlock .completionUserList li .userPhoto {
	width:29px; height:29px;
	margin-left:10px; padding:2px 4px 5px 3px;
	background:url(../images/ImUserListPhotoBg.png) no-repeat;
}
.imMessageBlock .addPeopleBlock .completionUserList .userName {
	height:36px;
	text-indent:12px;
	font:400 12px/36px Arial, Helvetica, sans-serif; color:#545454;
}
.imMessageBlock .addPeopleBlock .completionUserList li:hover .userName,.imMessageBlock .addPeopleBlock .completionUserList li.selected .userName {
	color:#fff;
}
.imMessageBlock .messageList {
	width:260px; height:260px;
	background:#eef2f5;
	overflow-y:auto;
}
.imMessageBlock .messageList li {
	float:left;
	width:100%;
	padding:5px 0;
	border-bottom:1px solid #dee4e8;
}
.imMessageBlock .messageList li:last-child {
	border-bottom:none;
}
.imMessageBlock .messageList li.messages .userPhoto {
	width:24px; height:24px;
	margin:0 8px;
	border-radius:2px;
}
.imMessageBlock .messageList li aside {
	width:200px;
}
.imMessageBlock .messageList li.messages aside h6,.imMessageBlock .messageList li.messages aside h6 a {
	text-shadow:1px 1px 1px #eee;
	font:700 12px/20px Arial, Helvetica, sans-serif; color:#666;
}
.imMessageBlock .messageList li.messages aside h6 span {
	font:400 12px/20px Arial, Helvetica, sans-serif; color:#aaa; float:right;
}
.imMessageBlock .messageList li.messages aside p {
	word-wrap:break-word;
	font:400 12px/20px Arial, Helvetica, sans-serif; color:#aaa;
}
.imMessageBlock .messageList li.systemMessage {
	font:400 14px/20px Arial, Helvetica, sans-serif; color:#666;
}
.imMessageBlock .messageList li.systemMessage a {
	font:400 14px/20px Arial, Helvetica, sans-serif; color:#005da5;
}
.imMessageBlock .messageList li.systemJoin .icon {
	width:24px; height:24px;
	margin:0 8px;
	background:url(../images/imSystemAdd.png) no-repeat 4px 4px;
}
.imMessageBlock .messageList li.systemJoin p {
	color:#666;
}
.imMessageBlock .messageSend {
	width:244px;
	padding:6px 8px;
	background:#e2e8ec;
	border-top:1px solid #b3bac4;
}
.imMessageBlock .sendText {
	width:240px;	height:26px;
	background:#fff;
	font:400 12px/26px Arial, Helvetica, sans-serif;
	border:1px solid #d4d4d4; border-radius:3px;
}












