<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Message</title>
<meta name="description" content="" />
<meta name="author" content="xu chen" />
<meta name="viewport" content="width=device-width; initial-scale=1.0" />
<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
<meta name=”apple-mobile-web-app-status-bar-style” content=black” />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link href="/css/common/base.css" rel="stylesheet" type="text/css">
<link href="/css/common/common.css" rel="stylesheet" type="text/css">
<link href="/css/mobile/atommobile.css" rel="stylesheet" type="text/css">
<link href="/css/mobile/jquery.mobile-1.0.1.min.css" rel="stylesheet" type="text/css">
<script src="/js/common/jquery1.7.min.js" type="text/javascript"></script>
<script src="/js/mobile/mobile.js" type="text/javascript"></script>
<script src="/js/mobile/jquery.mobile-1.0.1.min.js" type="text/javascript"></script>
</head>
<body>

<div id="messagePage" data-role="page" data-title="Message">
  <div data-role="header">
    <h1>Message</h1>
  </div>
  <div data-role="content">
  	<ul data-role="listview" data-filter="true" data-inset="true">
    	<li>
        	<a href="#messageTalkList">
            	<img src="images/peoplePic01.png" class="userPhoto" alt="" />
                    <h6>Chen Pengfei</h6>
                    <p>CEO</p>
                    <p>I'm helping people to use computers and the Internet  easier and better.</p>
            </a>
        </li>
        <li>
        	<a href="#messageTalkList">
            	<img src="images/peoplePic01.png" class="userPhoto" alt="" />
                    <h6>Xu Chen</h6>
                    <p>CEO</p>
                    <p>I'm helping people to use computers and the Internet  easier and better.</p>
            </a>
        </li>
        <li>
        	<a href="#messageTalkList">
            	<img src="images/peoplePic01.png" class="userPhoto" alt="" />
                    <h6>Han Lei</h6>
                    <p>CEO</p>
                    <p>I'm helping people to use computers and the Internet  easier and better.</p>
            </a>
        </li>
    </ul>
  </div>
</div>
<!--  message talk list  -->
<div id="messageTalkList" data-role="page">
	<div data-role="header"><h1>talk</h1></div>
	<div data-role="content">
		<ul class="messageList">
        	<li class="others">
            	<a href="profile.html" title="userName"><img src="images/peoplePic01.png" class="userPhoto" alt="" /></a>
                <aside class="message clearfix">
                	<p>So sorry! I haven't added a search function yet,So sorry! I haven't added a search function yet,So sorry! I haven't added a search function yet,<span class="datetime">18 Nov at 21:12</span></p>
                </aside>
            </li>
            <li class="me">
            	<a href="profile.html" title="userName"><img src="images/peoplePic01.png" class="userPhoto" alt="" /></a>
                <aside class="message clearfix">
                	<p>So sorry! I haven yet,<span class="datetime">18 Nov at 21:12</span></p>
                </aside>
            </li>
        </ul>
	</div>
	<div data-role="footer" data-position="fixed">
		<div data-role="fieldcontain" class="messageText">
			<label for="sendMessageText">Send Message:</label>
			<textarea name="textarea" id="sendMessageText"></textarea>
			<input type="button" value="Send" class="fr" data-inline="true" />
		</div>
		
	</div>
</div>

</body>
</html>
