<h1>Sign Up</h1>

<p>Please fill out the following form with your register credentials:</p>
<form action="index.php?r=User/Create" method="post">
<div class="form">
		<div class="row">
			<label>username:</label>
			<input type="text" name="username" />
		</div>

		<div class="row">
			<label>firstname:</label>
			<input type="text" name="firstname" />
		</div>

		<div class="row">
			<label>lastname:</label>
			<input type="text" name="lastname" />
		</div>

		<div class="row">
			<label>password:</label>
			<input type="password" name="password" />
		</div>

		<div class="row">
			<label>Retype password:</label>
			<input type="password" name="repassword" />
		</div>

		<div class="row">
			<label>email:</label>
			<input type="text" name="email" />
		</div>

		<div class="row buttons">
			<input type="submit" name="signup" value="Sing Up"/>
		</div>
	</div><!-- form -->
</form>
